<div class="container">
	<footer class="d-flex flex-wrap justify-content-between align-items-center py-2 my-3 border-top">
		<div class="col-md-4 mb-1 text-muted">
			<p class="mb-0">© 2023 <nobr>Ser-GEnri.RU</nobr>, Inc</p>
		</div>

		<a class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
			<img src="/icons8-виноград-96.ico" class="me-2" height="40" />
		</a>

		<ul class="nav col-md-4 justify-content-end">
			<li class="nav-item"><a href="/" class="nav-link px-2 text-muted">На главную</a></li>
			<li class="nav-item"><a href="/FruitsCatalog" class="nav-link px-2 text-muted">Фрукты</a></li>
			<li class="nav-item"><a href="/ProvidersCatalog" class="nav-link px-2 text-muted">Поставщики</a></li>
			<li class="nav-item"><a href="/PriceCatalog" class="nav-link px-2 text-muted">График поставок</a></li>
			<li class="nav-item"><a href="/Report" class="nav-link px-2 text-muted">Отчет</a></li>
		</ul>
	</footer>
</div>

