<ul class="navbar-nav pe-0">
	<li class="nav-item"><NavLink href="/" Match="NavLinkMatch.All" class="nav-link py-1">На главную</NavLink></li>
	<li class="nav-item"><NavLink href="/FruitsCatalog" class="nav-link py-1">Фрукты</NavLink></li>
	<li class="nav-item"><NavLink href="/ProvidersCatalog" class="nav-link py-1">Поставщики</NavLink></li>
	<li class="nav-item"><NavLink href="/PriceCatalog" class="nav-link py-1">График поставок</NavLink></li>
	<li class="nav-item"><NavLink href="/Report" class="nav-link py-1">Отчет</NavLink></li>
</ul>


